<?xml version="1.0"?>
<robot name="gripper" xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:macro name="pg70" params="parent *origin">

<joint name="gripper_palm_joint" type="fixed">
      <parent link="${parent}" />
      <child link = "schunk_palm_link" />
      <insert_block name="origin" />
    </joint>

<link name="schunk_palm_link">
      <visual>
         <geometry>
          <mesh filename="package://schunk_description/meshes/schunk_body.dae" />
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://schunk_description/meshes/schunk_body.dae" />
        </geometry>
      </collision>

    </link>

<link name="moving_part1">
      <visual>
         <geometry>
          <mesh filename="package://schunk_description/meshes/schunk_movingpart1.dae" />
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://schunk_description/meshes/schunk_movingpart1.dae" />
        </geometry>
      </collision>

    </link>

<joint name="moving_part1_joint" type="fixed">
      <parent link="schunk_palm_link" />
      <child link = "moving_part1" />
      <origin xyz="0.01 0.01 0.09" rpy="1.57 0.0 0.0" />
          <limit effort="1000.0" lower="-0.38" upper="0" velocity="0.5"/>
    </joint>

<link name="right_finger">
      <visual>
         <geometry>
          <mesh filename="package://schunk_description/meshes/finger.stl" scale="0.01 0.01 0.01"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://schunk_description/meshes/finger.stl" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>

    </link>
    <joint name="right_finger_joint" type="fixed">
      <parent link="moving_part1" />
      <child link = "right_finger" />
      <origin xyz="0.0 0.01 0.01" rpy="0.0 0.0 1.57" />
    </joint>

<link name="moving_part2">
      <visual>
         <geometry>
          <mesh filename="package://schunk_description/meshes/schunk_movingpart2.dae" />
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://schunk_description/meshes/schunk_movingpart2.dae" />
        </geometry>
      </collision>

    </link>

<joint name="moving_part2_joint" type="fixed">
      <parent link="schunk_palm_link" />
      <child link = "moving_part2" />
          <limit effort="1000.0" lower="-0.38" upper="0" velocity="0.5"/>
      <origin xyz="-0.01 -0.01 0.09" rpy="0.0 0.0 0.0" />
    </joint>

<link name="left_finger">
      <visual>
         <geometry>
          <mesh filename="package://schunk_description/meshes/left_finger.stl" scale="0.01 0.01 0.01"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://schunk_description/meshes/left_finger.stl" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>

    </link>

    <joint name="left_finger_joint" type="fixed">
      <parent link="moving_part2" />
      <child link = "left_finger" />
      <origin xyz="0. -0.01 0.01" rpy="0.0 0.0 0.0" />
    </joint>

<plugin filename="libroboticsgroup_gazebo_mimic_joint_plugin.so" name="mimic_schunk">
                <joint>moving_part2_joint</joint>
                <mimicJoint>moving_part1_joint</mimicJoint>
                <!--multiplier>1.0</multiplier>
                <offset>0.0</offset-->
</plugin>

  </xacro:macro>

</robot>